# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional: Debugger directories
.vscode/
.idea/

# Optional: Build output if you have any build step
dist/
build/
